---
// data imports
import workExperience from "@/data/Jobs.ts"
import hardSkills from "@/data/hardSkills"

// component imports
import JobDetails from "./JobDetails.astro";
import SkillCard from "./SkillCard.astro";

---

<div class="relative flex flex-col gap-8 text-n700 dark:text-n200 w-full mt-10 px-4">
    {/*Work experience section*/}
    <div class="mb-4">
        <h2 class="text-3xl font-bold mb-4">Clients & Partners</h2>
        <div class="flex flex-col gap-6">
            {workExperience.map((job) => (
                    <JobDetails jobData={job}/>
            ))}
        </div>
    </div>
    {/*Skills section*/}
    <div class="mb-4">
        <h2 class="text-3xl font-bold mb-4">Skills</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {hardSkills.map((skill) => (
                    <SkillCard {...skill} showDescription={true}/>
            ))}
        </div>
    </div>
</div>